# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

#Vite
node_modules
dist
dist-ssr
*.local
.env

#Poetry
__pycache__/
poetry.lock

#pipeline

#FastAPI
/app/uploads/
/app/model_pipeline/results/
/app/model_pipeline/weights/
/app/model_pipeline/models/runs/detect/
/app/model_pipeline/data/
/app/model_pipeline/inputs/
/app/data/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
