/** Form

/* Adjusting the container background and text color */
.container.mt-5 {
    max-width: 800px; /* Set a max-width for the form container */
    background-color: #ffffff !important; /* Change background to white */
    color: #121212 !important; /* Ensure text is visible against the white background */
    padding: 20px; /* Add some padding around the content */
    border-radius: 8px; /* Optional: Adds rounded corners to the container */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Optional: Adds a subtle shadow for depth */
  }
  
  /* Ensuring the title and text inside the container are styled for readability */
   .form-group, .btn-primary, .img-job {
    color: #121212; /* Dark text for readability */
  }
  
  /* Additional adjustments for button to ensure it stands out */
  .btn-primary {
    background-color: #007bff; /* Primary button color */
    border-color: #007bff; /* Border color to match */
  }
  .btn-primary:hover {
    background-color: #0056b3; /* Darker shade on hover */
    border-color: #004085; /* Border color to match on hover */
  }
  
  /* Centering the image within its container */
  .img-job img {
    width: 60%;
    display: block; /* Ensures the image is treated as a block-level element */
    margin: 0 auto; /* Centers the image horizontally within its container */
  }
  